In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("excel_full_train.csv")
train.head(1)

,PassengerId,Survived,Pclass,Fare_1,Age_1,Family,Sex_1,IsAlone,Title_Mr,Title_Mrs,...,Ticket_C,Ticket_LINE,Ticket_FCC,Ticket_SWPP,Ticket_PPP,Ticket_SC,Ticket_SCAH,Ticket_SOPP,Ticket_FC,Ticket_SOTONO2
0,1,0,3,7.25,22.0,2,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
test = pd.read_csv("excel_test.csv")
test.head(1)

,PassengerId,Pclass,Fare_1,Age_1,Family,Sex_1,IsAlone,Title_Mr,Title_Mrs,Title_Miss,...,Ticket_C,Ticket_LINE,Ticket_FCC,Ticket_SWPP,Ticket_PPP,Ticket_SC,Ticket_SCAH,Ticket_SOPP,Ticket_FC,Ticket_SOTONO2
0,892,3,7.8292,34.5,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
X = train.drop(['PassengerId','Survived'], axis = 1)

In [5]:
y = train['Survived']

In [6]:
#### Use Test Train Split to divide into train and test
import numpy as np
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=21)

In [7]:
from sklearn.tree import DecisionTreeClassifier

In [8]:
treeModel = DecisionTreeClassifier()

In [9]:
treeModel.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

### Grid Search

In [10]:
from sklearn.model_selection import GridSearchCV

In [11]:
parameters = {'criterion' : ('gini', 'entropy'), 'max_depth' : (3,4,5,6,7,8,9,10),
              'min_samples_leaf' : (1,2,3,4,5)}

In [12]:
DT_grid  = GridSearchCV(DecisionTreeClassifier(), param_grid = parameters, cv = 3)

In [13]:
DT_grid_model = DT_grid.fit(X_train, y_train)

In [14]:
DT_grid_model.best_estimator_

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [15]:
DT_grid_model.best_score_

0.8218298555377207

In [16]:
treeModel = DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [17]:
treeModel.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [18]:
treeModel.score(X_train, y_train)

0.826645264847512

In [19]:
best_feat = pd.DataFrame({'Features': X_train.columns,'Importance': treeModel.feature_importances_})
best_feat.sort_values('Importance', ascending = False).head(10)

        Features  Importance
6       Title_Mr    0.673209
3         Family    0.151284
1         Fare_1    0.084452
0         Pclass    0.046474
37  Ticket_SWPP     0.024298
23   Ticket_xxx     0.020283
40  Ticket_SCAH     0.000000
39    Ticket_SC     0.000000
42    Ticket_FC     0.000000
25    Ticket_CA     0.000000

### Evaluation of Test

In [20]:
X_test.head(1)

,Pclass,Fare_1,Age_1,Family,Sex_1,IsAlone,Title_Mr,Title_Mrs,Title_Miss,Title_Master,...,Ticket_C,Ticket_LINE,Ticket_FCC,Ticket_SWPP,Ticket_PPP,Ticket_SC,Ticket_SCAH,Ticket_SOPP,Ticket_FC,Ticket_SOTONO2
617,3,16.1,26.0,2,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
y_pred = treeModel.predict(X_test)

In [ ]:
#from sklearn.metrics import classification_report
#print(classification_report(y_test,y_pred ))

In [22]:
print(f'Test : {treeModel.score(X_test, y_test):.3f}')
print(f'Train : {treeModel.score(X_train, y_train):.3f}')

Test : 0.825
Train : 0.827

### Prediction of Test

In [23]:
sub_test = test.drop(['PassengerId'], axis = 1)

In [24]:
sub_test_pred = treeModel.predict(sub_test).astype(int)

In [25]:
AllSub = pd.DataFrame({ 'PassengerId': test['PassengerId'],
                       'Survived' : sub_test_pred
    
})

AllSub.to_csv("All_Var_Video_DT_grid.csv", index = False)