In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("excel_full_train.csv")
train.head(1)

,PassengerId,Survived,Pclass,Fare_1,Age_1,Family,Sex_1,IsAlone,Title_Mr,Title_Mrs,...,Ticket_C,Ticket_LINE,Ticket_FCC,Ticket_SWPP,Ticket_PPP,Ticket_SC,Ticket_SCAH,Ticket_SOPP,Ticket_FC,Ticket_SOTONO2
0,1,0,3,7.25,22.0,2,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
test = pd.read_csv("excel_test.csv")
test.head(1)

,PassengerId,Pclass,Fare_1,Age_1,Family,Sex_1,IsAlone,Title_Mr,Title_Mrs,Title_Miss,...,Ticket_C,Ticket_LINE,Ticket_FCC,Ticket_SWPP,Ticket_PPP,Ticket_SC,Ticket_SCAH,Ticket_SOPP,Ticket_FC,Ticket_SOTONO2
0,892,3,7.8292,34.5,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
X = train.drop(['PassengerId','Survived'], axis = 1)

In [5]:
y = train['Survived']

### Feature Selection

In [6]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

In [38]:
for i in range (10,44):
    sel_Feat = SelectKBest(chi2, k=i).fit(X, y)
    sel_Bool = sel_Feat.get_support()
    X_sel = X[X.columns[sel_Bool]]
    #### Use Test Train Split to divide into train and test
    X_train, X_test, y_train, y_test = train_test_split(X_sel, y, test_size=0.30, random_state=21)
    treeModel = DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, presort=False,
                           random_state=None, splitter='best')
    treeModel.fit(X_train, y_train)

    print(f'Model with {i} -- Test : {treeModel.score(X_test, y_test):.3f} | Train : {treeModel.score(X_train, y_train):.3f}')

Model with 10 -- Test : 0.825 | Train : 0.819
Model with 11 -- Test : 0.821 | Train : 0.820
Model with 12 -- Test : 0.821 | Train : 0.820
Model with 13 -- Test : 0.821 | Train : 0.820
Model with 14 -- Test : 0.821 | Train : 0.820
Model with 15 -- Test : 0.821 | Train : 0.820
Model with 16 -- Test : 0.821 | Train : 0.820
Model with 17 -- Test : 0.821 | Train : 0.820
Model with 18 -- Test : 0.821 | Train : 0.820
Model with 19 -- Test : 0.821 | Train : 0.820
Model with 20 -- Test : 0.821 | Train : 0.820
Model with 21 -- Test : 0.821 | Train : 0.820
Model with 22 -- Test : 0.821 | Train : 0.820
Model with 23 -- Test : 0.825 | Train : 0.822
Model with 24 -- Test : 0.825 | Train : 0.822
Model with 25 -- Test : 0.825 | Train : 0.822
Model with 26 -- Test : 0.825 | Train : 0.822
Model with 27 -- Test : 0.825 | Train : 0.822
Model with 28 -- Test : 0.825 | Train : 0.822
Model with 29 -- Test : 0.825 | Train : 0.822
Model with 30 -- Test : 0.825 | Train : 0.822
Model with 31 -- Test : 0.825 | Train : 0.822
Model with 32 -- Test : 0.825 | Train : 0.822
Model with 33 -- Test : 0.825 | Train : 0.822
Model with 34 -- Test : 0.825 | Train : 0.822
Model with 35 -- Test : 0.825 | Train : 0.827
Model with 36 -- Test : 0.825 | Train : 0.827
Model with 37 -- Test : 0.825 | Train : 0.827
Model with 38 -- Test : 0.825 | Train : 0.827
Model with 39 -- Test : 0.825 | Train : 0.827
Model with 40 -- Test : 0.825 | Train : 0.827
Model with 41 -- Test : 0.825 | Train : 0.827
Model with 42 -- Test : 0.825 | Train : 0.827
Model with 43 -- Test : 0.825 | Train : 0.827

### Grid Search

In [45]:
parameters = {'criterion' : ('gini', 'entropy')
              , 'max_depth' : (3,4,5,6,7,8,9,10)
             }

for i in range (10,44):
    sel_Feat = SelectKBest(chi2, k=i).fit(X, y)
    sel_Bool = sel_Feat.get_support()
    X_sel = X[X.columns[sel_Bool]]
    #### Use Test Train Split to divide into train and test
    X_train, X_test, y_train, y_test = train_test_split(X_sel, y, test_size=0.30, random_state=21)
    DT_grid  = GridSearchCV(DecisionTreeClassifier(), param_grid = parameters, cv = 3)
    DT_grid_model = DT_grid.fit(X_train, y_train)

    print(f'Model with {i} -- Test : {DT_grid_model.score(X_test, y_test):.3f} | Train : {DT_grid_model.score(X_train, y_train):.3f}')

Model with 10 -- Test : 0.825 | Train : 0.819
Model with 11 -- Test : 0.821 | Train : 0.820
Model with 12 -- Test : 0.821 | Train : 0.820
Model with 13 -- Test : 0.821 | Train : 0.820
Model with 14 -- Test : 0.821 | Train : 0.820
Model with 15 -- Test : 0.821 | Train : 0.820
Model with 16 -- Test : 0.821 | Train : 0.820
Model with 17 -- Test : 0.821 | Train : 0.820
Model with 18 -- Test : 0.821 | Train : 0.820
Model with 19 -- Test : 0.821 | Train : 0.820
Model with 20 -- Test : 0.821 | Train : 0.820
Model with 21 -- Test : 0.821 | Train : 0.820
Model with 22 -- Test : 0.821 | Train : 0.820
Model with 23 -- Test : 0.817 | Train : 0.852
Model with 24 -- Test : 0.825 | Train : 0.822
Model with 25 -- Test : 0.817 | Train : 0.852
Model with 26 -- Test : 0.817 | Train : 0.852
Model with 27 -- Test : 0.817 | Train : 0.852
Model with 28 -- Test : 0.817 | Train : 0.852
Model with 29 -- Test : 0.825 | Train : 0.822
Model with 30 -- Test : 0.817 | Train : 0.852
Model with 31 -- Test : 0.817 | Train : 0.852
Model with 32 -- Test : 0.817 | Train : 0.852
Model with 33 -- Test : 0.817 | Train : 0.852
Model with 34 -- Test : 0.817 | Train : 0.852
Model with 35 -- Test : 0.810 | Train : 0.859
Model with 36 -- Test : 0.810 | Train : 0.859
Model with 37 -- Test : 0.810 | Train : 0.859
Model with 38 -- Test : 0.810 | Train : 0.859
Model with 39 -- Test : 0.810 | Train : 0.859
Model with 40 -- Test : 0.810 | Train : 0.859
Model with 41 -- Test : 0.810 | Train : 0.862
Model with 42 -- Test : 0.810 | Train : 0.862
Model with 43 -- Test : 0.825 | Train : 0.827

### Prediction of Test

In [30]:
sub_test = test.drop(['PassengerId'], axis = 1)

In [31]:
sub_test_sel = sub_test[X.columns[sel_Bool]]

In [32]:
sub_test_pred = treeModel.predict(sub_test_sel).astype(int)

In [33]:
AllSub = pd.DataFrame({ 'PassengerId': test['PassengerId'],
                       'Survived' : sub_test_pred
    
})

AllSub.to_csv("All_Var_Video_DT_grid_sel_feat_30.csv", index = False)