In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("excel_full_train.csv")
train.head(1)

,PassengerId,Survived,Pclass,Fare_1,Age_1,Family,Sex_1,IsAlone,Title_Mr,Title_Mrs,...,Ticket_C,Ticket_LINE,Ticket_FCC,Ticket_SWPP,Ticket_PPP,Ticket_SC,Ticket_SCAH,Ticket_SOPP,Ticket_FC,Ticket_SOTONO2
0,1,0,3,7.25,22.0,2,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
test = pd.read_csv("excel_test.csv")
test.head(1)

,PassengerId,Pclass,Fare_1,Age_1,Family,Sex_1,IsAlone,Title_Mr,Title_Mrs,Title_Miss,...,Ticket_C,Ticket_LINE,Ticket_FCC,Ticket_SWPP,Ticket_PPP,Ticket_SC,Ticket_SCAH,Ticket_SOPP,Ticket_FC,Ticket_SOTONO2
0,892,3,7.8292,34.5,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
X = train.drop(['PassengerId','Survived'], axis = 1)

In [5]:
y = train['Survived']

### Feature Selection

In [6]:
from sklearn.feature_selection import SelectKBest, chi2

In [7]:
X.head()

,Pclass,Fare_1,Age_1,Family,Sex_1,IsAlone,Title_Mr,Title_Mrs,Title_Miss,Title_Master,...,Ticket_C,Ticket_LINE,Ticket_FCC,Ticket_SWPP,Ticket_PPP,Ticket_SC,Ticket_SCAH,Ticket_SOPP,Ticket_FC,Ticket_SOTONO2
0,3,7.2500,22.0,2,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,71.2833,38.0,2,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,7.9250,26.0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,53.1000,35.0,2,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,8.0500,35.0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
sel_Feat = SelectKBest(chi2, k=30).fit(X, y)

In [38]:
sel_Bool = sel_Feat.get_support()

In [39]:
X_sel = X[X.columns[sel_Bool]]
X_sel.head()

,Pclass,Fare_1,Age_1,Sex_1,IsAlone,Title_Mr,Title_Mrs,Title_Miss,Title_Master,Embarked_S,...,Ticket_A4,Ticket_SOC,Ticket_WC,Ticket_SOTONOQ,Ticket_FCC,Ticket_SWPP,Ticket_SC,Ticket_SCAH,Ticket_SOPP,Ticket_SOTONO2
0,3,7.2500,22.0,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,71.2833,38.0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,7.9250,26.0,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,53.1000,35.0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,3,8.0500,35.0,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [40]:
#### Use Test Train Split to divide into train and test
import numpy as np
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_sel, y, test_size=0.30, random_state=21)

In [41]:
from sklearn.tree import ExtraTreeClassifier

In [42]:
etreeModel = ExtraTreeClassifier()

In [43]:
etreeModel.fit(X_train, y_train)

ExtraTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                    max_features='auto', max_leaf_nodes=None,
                    min_impurity_decrease=0.0, min_impurity_split=None,
                    min_samples_leaf=1, min_samples_split=2,
                    min_weight_fraction_leaf=0.0, random_state=None,
                    splitter='random')

### Grid Search

In [44]:
from sklearn.model_selection import GridSearchCV

In [45]:
#Using max_depth, criterion will suffice for DT Models, rest all will remain constant 
parameters = {'criterion' : ('gini', 'entropy')
              , 'max_depth' : (3,4,5,6,7,8,9,10)
              #, 'min_samples_leaf' : (1,2,3,4,5,6)
              #, 'min_impurity_decrease' : (0.0,0.1,0.2,0.3)
              #, 'min_weight_fraction_leaf' : (0.0,0.1,0.2,0.3)
             }

In [46]:
ET_grid  = GridSearchCV(ExtraTreeClassifier(), param_grid = parameters, cv = 3)

In [47]:
ET_grid_model = ET_grid.fit(X_train, y_train)

In [48]:
ET_grid_model.best_estimator_

ExtraTreeClassifier(class_weight=None, criterion='entropy', max_depth=10,
                    max_features='auto', max_leaf_nodes=None,
                    min_impurity_decrease=0.0, min_impurity_split=None,
                    min_samples_leaf=1, min_samples_split=2,
                    min_weight_fraction_leaf=0.0, random_state=None,
                    splitter='random')

In [21]:
ET_grid_model.best_score_

0.8041733547351525

In [49]:
#Build model with best estimates 
etreeModel = ExtraTreeClassifier(class_weight=None, criterion='entropy', max_depth=10,
                    max_features='auto', max_leaf_nodes=None,
                    min_impurity_decrease=0.0, min_impurity_split=None,
                    min_samples_leaf=1, min_samples_split=2,
                    min_weight_fraction_leaf=0.0, random_state=None,
                    splitter='random')

In [50]:
etreeModel.fit(X_train, y_train)

ExtraTreeClassifier(class_weight=None, criterion='entropy', max_depth=10,
                    max_features='auto', max_leaf_nodes=None,
                    min_impurity_decrease=0.0, min_impurity_split=None,
                    min_samples_leaf=1, min_samples_split=2,
                    min_weight_fraction_leaf=0.0, random_state=None,
                    splitter='random')

In [51]:
etreeModel.score(X_train, y_train)

0.8892455858747994

In [52]:
best_feat = pd.DataFrame({'Features': X_train.columns,'Importance': etreeModel.feature_importances_})
best_feat.sort_values('Importance', ascending = False)

           Features  Importance
1            Fare_1    0.153536
7        Title_Miss    0.137933
3             Sex_1    0.136295
2             Age_1    0.118298
5          Title_Mr    0.103958
11          Cabin_M    0.081712
0            Pclass    0.053736
9        Embarked_S    0.047622
4           IsAlone    0.034824
10       Embarked_C    0.027628
18       Ticket_PC     0.020287
12          Cabin_C    0.019231
8      Title_Master    0.015345
13          Cabin_E    0.012408
23  Ticket_SOTONOQ     0.010185
14          Cabin_D    0.006146
17       Ticket_A5     0.005592
22       Ticket_WC     0.004708
16          Cabin_F    0.004605
6         Title_Mrs    0.002897
24      Ticket_FCC     0.001620
19       Ticket_PP     0.000483
27     Ticket_SCAH     0.000404
21      Ticket_SOC     0.000340
15          Cabin_B    0.000209
25     Ticket_SWPP     0.000000
26       Ticket_SC     0.000000
20       Ticket_A4     0.000000
28     Ticket_SOPP     0.000000
29  Ticket_SOTONO2     0.000000

### Evaluation of Test

In [53]:
X_test_sel = X_test[X.columns[sel_Bool]]

In [54]:
X_test_sel.shape

(268, 30)

In [55]:
y_pred = etreeModel.predict(X_test_sel)

In [56]:
#from sklearn.metrics import classification_report
#print(classification_report(y_test,y_pred ))

In [57]:
print(f'Test : {etreeModel.score(X_test, y_test):.3f}')
print(f'Train : {etreeModel.score(X_train, y_train):.3f}')

Test : 0.832
Train : 0.889

### Prediction of Test

In [58]:
sub_test = test.drop(['PassengerId'], axis = 1)

In [59]:
sub_test_sel = sub_test[X.columns[sel_Bool]]

In [60]:
sub_test_pred = etreeModel.predict(sub_test_sel).astype(int)

In [61]:
AllSub = pd.DataFrame({ 'PassengerId': test['PassengerId'],
                       'Survived' : sub_test_pred
    
})

AllSub.to_csv("All_Var_Video_extra_tree_30.csv", index = False)